
body {
  font-family: Arial, sans-serif;
  background-color: #f3f3f3;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}


h1 {
  color: #333;
  text-align: center;
}


form.js-form {
  background-color: #fff;
  padding: 25px 35px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
}


input,
select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  transition: 0.3s;
}


input:focus,
select:focus {
  border-color: #e74c3c; /* красная подсветка */
  box-shadow: 0 0 5px rgba(231, 76, 60, 0.5);
}


button {
  background-color: #e74c3c;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: #c0392b;
}


.js-show-password {
  background-color: #888;
  margin-left: 5px;
}

.js-show-password:hover {
  background-color: #666;
}


.box {
  width: 100px;
  height: 100px;
  background-color: #e74c3c;
  margin: 10px;
  border-radius: 8px;
  transition: 0.3s;
}

.hide {
  display: none;
}