
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #282c34;
    font-family: 'Arial', sans-serif;
}

.pokemons-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
     list-style: none; 
        padding: 0;      
        margin: 0; 
}

.product {
    width: 350px;
    height: 315px;
    margin:  16px 8px;
}
.card-container {
    display: flex;
    gap: 30px;
}

.card {
    background: linear-gradient(135deg, rgba(255, 0, 150, 0.7), rgba(0, 204, 255, 0.7));
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(255, 0, 150, 0.5), 0 0 40px rgba(0, 204, 255, 0.5);
    padding: 30px;
    color: white;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
    width: 200px;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 30px rgba(255, 0, 150, 0.8), 0 0 50px rgba(0, 204, 255, 0.8);
    cursor: pointer;
}


